h1 {
    color: red;
}
h2 {
    color: brown;    
}
h3 {
    color: #FFD000;
}
h4 {
    color: #28A745;
}
h5 {
    color: blue;
}
h6{
    color:dodgerblue;
}


img {
    width: 6%;
}




body{
    background: #FFD000;    
}



caption-burger {
    font-family: roboto;
    font-size: 20px;
    text-align: center;
    text-transform:uppercase;
    text-decoration-line:underline;
}

.button {
    background-color: red;
    border: none;
    color: #FFD000;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: "Open_Sans', sans-serif";
    font-style: normal;
    font-size: 22px;
    transition-duration: 0.4s;
    border-radius: 12px;
    width: 33%;
    padding: 7px 0px;
    margin-top: 5px;
    /* position:relative;
    left: 20%;
     */
    }

.button:hover {
    background-color: #FFD000;
    color: red;
    font-style: italic;
    }

    #stage {
    background-image: url('../img/bg-rgb_245-245-245.jpg');
    background-repeat: repeat;
    background-size: content;
    width: 86%;
    margin-left: 7%;
    }

